<ul class="thumbnails">
{{#each images}}
  <li>
    <div class="thumbnail">
      <img id="{{id}}" class="thumbnail-img" src="img/image-loading.png" style="max-height: 100px" onError="this.onerror=null;this.src='img/no-image-icon.jpg';" />
    </div>
  </li>
{{/each}}
{{#if canAdd}}
  <li>
    <div class="thumbnail">
      <img src="img/camera-icon-add.jpg" id="add" class="img-rounded" style="max-height: 100px"/>
    </div>
  </li>
{{/if}}
</ul>


{{#if noImage}}
<div class="muted">No images present</div>
{{/if}}

{{#if notSupported}}
<div class="text-warning">Taking photos not supported on this platform</div>
{{/if}}
