<div class="prompt">{{prompt}}</div>
<div class="answer">
  <div id="map_placeholder" style="background-color: #DDD; height: 180px;">
  	<p></p>
  	<p class="lead text-center">Tap to open map</p>
  </div>

  <div id="map" style="height: 180px;"></div>
 </div>