#appview_content { 
  margin-top: 50px;
}

.leaflet-popup-content-wrapper .thumb,
.leaflet-popup-content-wrapper .data
 {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 3px;
}
table tr.source td {
	vertical-align: middle;
}
.source td .thumb {
	height: 60px;
	margin-right: 10px;
	border-radius: 3px;
}
