.page {
  padding: 5px;
}

.buttoned {
  display: inline-block;
  vertical-align: middle;
}

.flash {
  margin-bottom: 0px;
}

.no-border {
  border-left: none;
}

.right-chevron {
  vertical-align:middle; 
  border-left:none; 
  width: 16px;
}