.slidemenu {
    position: fixed;
    top: 50px;
    bottom: 0px;
    background-color:#404040;
    
    color: White;
    display:none;
    overflow: auto;
    z-index: 9999;
  }
  
.slidemenu h3 {
  font-family: arial;
  font-size: 12px;
  color: #fff;
  margin: 0;
  padding: 4px 0 4px 10px;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(5%,rgba(90,89,89,1)),color-stop(85%,rgba(66,65,65,1)));
  border-top: solid #6b6b6b 1px;
  border-bottom: solid #3d3d3d 1px;
  text-shadow: 0 -1px 1px #333;
}

.slidemenu ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}
.slidemenu ul li a,
.slidemenu ul li a:link,
.slidemenu ul li a:visited
 {
  border-bottom: solid #333 1px;
  box-shadow: 0 1px 0 #727272;
  color: #fff;
  display: block;
  font-family: arial;
  font-size: 14px;
  padding: 10px 0 10px 10px;
  text-decoration: none;
  text-shadow: 0 1px 1px #000;
}
.slidemenu ul li a:active,
.slidemenu ul li a:hover {
  background-color: #716f6f;
}
