<?xml version='1.0' encoding='utf-8'?>
<widget id="co.mwater.clientapp" version="3.14.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>mWater</name>
    <description>
        mWater Client App
    </description>
    <author email="development@mwater.co" href="http://mwater.co">
        mWater Team
    </author>
    <content src="index_cordova.html?cordova=" />
    <icon src="icon.png"/>
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="loadingDialog" value="Loading..."/>
    <!-- <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />-->
    <preference name="disallowOverscroll" value="true"/>
    <preference name="KeepRunning" value="false" />
    <!--<platform name="android">
        <splash src="splash.png" density="land-hdpi"/>
        <splash src="splash.png" density="land-ldpi"/>
        <splash src="splash.png" density="land-mdpi"/>
        <splash src="splash.png" density="land-xhdpi"/>
        <splash src="splash.png" density="port-hdpi"/>
        <splash src="splash.png" density="port-ldpi"/>
        <splash src="splash.png" density="port-mdpi"/>
        <splash src="splash.png" density="port-xhdpi"/>
    </platform>        -->
</widget>
