<style>
    .page ul > li > a { font-weight: bold; }
    .page ul > li > a:hover {
      background-color: transparent; // Prevent hover as is problem with touch
    }
}
</style>

<div>
  <h4>Incomplete Surveys</h4>
  <table class="table table-bordered" id="incomplete_table">
  </table>
  <h4>Recent Completed Surveys</h4>
  <table class="table table-bordered" id="recent_table">
  </table>
</div>