<style>
    .page ul > li > a { font-weight: bold; }
    .page ul > li > a:hover {
      background-color: transparent; // Prevent hover as is problem with touch
    }
}
</style>

<h4>Select survey to continue</h4>
{{#if responses}}
<table class="table table-bordered">
  {{#each responses}}
  <tr class="response tappable" id="{{_id}}">
    <td>
      <span id="name_{{_id}}"></span> (started {{started}}) 
    </td>
    <td style="vertical-align:middle; border-left:none; width: 16px"><i class="icon-chevron-right"></i></td>
  </tr>
  {{/each}}
</table>
{{else}}
  <h5>No incompleted surveys found</h5>
{{/if}}
