<h4>Import Sources from CSV</h4>
<textarea id="sources_csv" rows="5" class="input-block-level" placeholder="Paste CSV here"></textarea>
<div>Fields are all optional:
<ul>
  <li>name: name of source</li>
  <li>desc: description of source</li>
  <li>type: type of source (see http://api.mwater.co/v3/source_types)</li>
  <li>latitude: latitude of source</li>
  <li>longitude: longitude of source</li>
  <li>private: "true" if source should be private</li>
  <li>org: organization to upload as (available to admin only)</li>
</ul>
Other fields will be added as custom fields and preserved.
</div>
<button id="preview_sources_csv" class="btn btn-primary" type="button">Preview</button>
