<div class="page">
  <div>
    <button id="demo_button" type="submit" class="btn btn-lg btn-info">Demo</button> 
    <span class="glyphicon glyphicon-arrow-left"></span> Try out app
  <div>
  <br>
  <h4>Login to mWater</h4>
  <form id="form_login">
    <div class="form-group">
        <label for="login_username">Username or email</label>
        <input class="form-control" id="login_username" type="text" autocapitalize="off" autocorrect="off" spellcheck="false" placeholder="Username" />
    </div>
    <div class="form-group">
        <label for="login_password">Password</label>
        <input class="form-control" id="login_password" type="password" placeholder="Password" />
    </div>
    <div>
        <button id="login_button" type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
    </div>
  </form>

  <br>
  <p class="text-center"> - or - </p>

  <div>
    <button id="signup_button" class="btn btn-lg btn-success btn-block">Signup</button>
  </div>
<div>
