<style>
  .bigtab { font-weight: bold; }
</style>

<div class="page">
  <h3>Welcome to mWater</h3>
  <div>
    <button id="demo_button" type="submit" class="btn btn-large btn-primary" style="background-color: #478FCC;">Demo</button> 
    <i class="icon-arrow-left"></i> Try out app
  <div>
  <br>
  <br>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active bigtab"><a href="#tab1" data-toggle="tab">Signup</a></li>
      <li class="bigtab"><a href="#tab2" data-toggle="tab">Login</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <form id="form_signup">
          <div>
              <input id="signup_username" type="text" autocapitalize="off" autocorrect="off" placeholder="Username" />
          </div>
          <div>
              <input id="signup_password" type="password" placeholder="Password" />
          </div>
          <br/>
          <div>
              <input id="signup_email" type="email" class="input-xlarge" placeholder="Email">
              <span class="help-block">Note: Your email address will never be shared</span>
          </div>
          <div>
              <button id="signup_button" type="submit" class="btn btn-primary">Signup</button>
          </div>
       </form>
      </div>
      <div class="tab-pane" id="tab2">
        <form id="form_login">
          <div>
              <input id="login_username" type="text" autocapitalize="off" autocorrect="off" placeholder="Username" />
          </div>
          <div>
              <input id="login_password" type="password" placeholder="Password" />
          </div>
          <div>
              <button id="login_button" type="submit" class="btn btn-primary">Login</button>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>