<p class="muted">User:
<b>{{#if login}}{{login.user}}{{else}}Not logged in{{/if}}</b>
Version: <b>Technology Preview</b></p>

<div class="well">
  <div style="font-size: 150%">Broadstreet Mobile App</div>
  <div><em>Tracking and responding to diarrheal outbreaks in real-time</em></div>
</div>

<p class="text-center">
<button id="new_diarr_case" class="btn btn-large btn-danger">Report Diarrhea Case</button>
</p>
<p><p/>
<p class="text-center">
<button id="recent_diarr_cases" class="btn btn-large">My Recent Cases</button>
</p>
