<style>
    a { font-weight: bold; }
    .page ul > li > a:hover {
      background-color: transparent; // Prevent hover as is problem with touch
    }
}
</style>

<h4>Select type of survey to start</h4>
<table class="table table-bordered">
  {{#each forms}}
  <tr class="survey tappable" id="{{code}}">
    <td>{{name}}</a>
    <td style="vertical-align:middle; border-left:none; width: 16px"><span class="glyphicon glyphicon-chevron-right"></span></td>
  </tr>
  {{/each}}
</table>
