<style>
    a { font-weight: bold; }
    .page ul > li > a:hover {
      background-color: transparent; // Prevent hover as is problem with touch
    }
}
</style>

<h4>Select type of test to start</h4>
<table class="table table-bordered">
  {{#each forms}}
  <tr class="test tappable" id="{{code}}">
    <td><strong>{{name}}</strong> 
    <br/>
    <span class="muted">{{desc}}&nbsp;</span></td>
    <td style="vertical-align:middle; border-left:none; width: 16px"><i class="icon-chevron-right"></i></td>
  </tr>
  {{/each}}
</table>
