<style>
    a { font-weight: bold; }
    .page ul > li > a:hover {
      background-color: transparent; // Prevent hover as is problem with touch
    }
}
</style>

<h4>Select type of test to start</h4>
<ul class="nav nav-tabs nav-stacked">
  {{#each forms}}
  <li>
    <a class="test" id="{{code}}">{{name}} &gt;</a>
  </li>
  {{/each}}
</ul>
