<div class="page">
  <h3>Signup with mWater</h3>
  <form id="form_signup">
    <div class="form-group">
        <label for="signup_username">Username</label>
        <input class="form-control" id="signup_username" type="text" autocapitalize="off" autocorrect="off" spellcheck="false" placeholder="Username" />
        <span class="help-block">Note: Your username is visible on water sources you create</span>
    </div>
    <div class="form-group">
        <label for="signup_password">Password</label>
        <input class="form-control" id="signup_password" type="password" placeholder="Password" />
    </div>
    <br/>
    <div class="form-group">
        <label for="signup_email">Email address</label>
        <input class="form-control" id="signup_email" type="email" placeholder="Email">
        <span class="help-block">Note: Your email address will never be shared</span>
    </div>
    <div>
        <button id="signup_button" type="submit" class="btn btn-primary btn-lg">Signup</button>
        <button id="cancel_button" type="submit" class="btn btn-default btn-lg">Cancel</button>
    </div>
 </form>
</div>