<div class="page">
    <div id="questions">
    </div>
    <div>
        <button id="save_button" type="button" class="btn btn-primary margined">
            Save
        </button>
        &nbsp;
        <button id="cancel_button" type="button" class="btn btn-default margined">
            Cancel
        </button>
    </div>
</div>