<div>
  <h4>Incomplete Tests</h4>
  <table class="table table-bordered" id="incomplete_table">
  </table>
  <h4>Recent Tests</h4>
  <table class="table table-bordered" id="recent_table">
  </table>
</div>