<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{T "Upload Image"}}</h4>
      </div>
      <div class="modal-body">
        <form id="uploadForm" enctype="multipart/form-data" method="post">
          <input type="file" name="fileToUpload" id="fileToUpload"/>
          <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 0%">
            </div>
          </div>          
        </form>
        <button id="cancel" class="btn btn-default" disabled="disabled">{{T "Cancel"}}</button>
      </div>
      <div class="modal-footer">
        <button id="close" class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{T "Close"}}</button>
        <button id="upload" disabled="disabled" class="btn btn-primary">{{T "Upload"}}</button>
      </div>
    </div>
  </div>
</div>