<div id="site_questions"></div>

<div id="site_attr_questions"></div>

<div>
	<button id="create_site" type="button" class="btn btn-primary">{{T "Create"}}</button>
	<button id="cancel" type="button" class="btn">{{T "Cancel"}}</button>
</div>