<style>
  html, body { height: 100%; overflow: hidden; }
  .page { padding: 0px;}
  #map { width: 100%;}

  .leaflet-popup-content-wrapper .thumb,
  .leaflet-popup-content-wrapper .data {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
  }

  #big_plus {
  	/* Centered at bottom */
	position: absolute;
	bottom: 27px;
	z-index: 100000;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
  }

</style>

<img id="big_plus" src="img/big-plus.png">

<div id="map"></div>


