<style>
  html, body { height: 100%; overflow: hidden; }
  .page { padding: 0px;}
  #map { width: 100%;}

  .leaflet-popup-content-wrapper .thumb,
  .leaflet-popup-content-wrapper .data {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
  }
</style>

<div id="map"></div>


