<style>
  html, body { height: 100%; overflow: hidden; }
  .page { padding: 0px;}
  #map { width: 100%;}

  .leaflet-popup-content-wrapper .thumb,
  .leaflet-popup-content-wrapper .data {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
  }

  #bottom_navbar {
    position: absolute;
    bottom: -50px;
    border-top: solid 1px #CCC;
    height: 50px;
    z-index: 100000;
    left: 0;
    right: 0;
    background-color: white;
  }

</style>

<div id="bottom_navbar" class="text-center">
  <div class="btn-group dropup pull-right">
    <button type="button" class="btn btn-lg btn-link dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-cog"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right text-left" role="menu">
      <li><a>My Sites</a></li>
      <li><a>My Groups Sites</a></li>
      <li class="divider"></li>
      <li><a>Make Available Offline</a></li>
    </ul>
  </div>  
  <div class="btn-group dropup">
    <button type="button" class="btn btn-lg btn-link dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-plus"></span>
      Add
    </button>
    <ul class="dropdown-menu text-left" role="menu">
      <li><a>Site</a></li>
      <li><a>Survey</a></li>
      <li><a>Water Test</a></li>
    </ul>
  </div>  
</div>
<div id="map"></div>


