{{! Display response code }}
<style>
.responsecode {
	padding: 2px 4px;
	font-weight: bold;
	white-space: nowrap;
	background-color: #f7f7f9;
	border: 1px solid #d1d1d8;
}
.responsecode_div {
    margin-bottom: 8px;
    margin-top: 4px;
}
</style>

<div class="responsecode_div">
	<span class="text-muted"><b>{{T "Survey"}} </b></span>
	{{#if response.code}}
	<span class="responsecode">{{response.code}}</span>
	{{/if}}
	<span class="text-muted"><b> of </b></span><b>{{name}}</b>
</div>

<div id="contents"></div>

{{#if canRedraft}}
<br/>
<div><button id="edit_button" type="button" class="btn btn-default margined"><span class="glyphicon glyphicon-edit"></span> {{T "Edit Survey"}}</button></div>
{{/if}}