<style>
    .page ul > li > a { font-weight: bold; }
    .page ul > li > a:hover {
      background-color: transparent; // Prevent hover as is problem with touch
    }


  #bottom_navbar {
    position: fixed;
    bottom: 0px;
    border-top: solid 1px #CCC;
    height: 50px;
    z-index: 100000;
    left: 0;
    right: 0;
    background-color: white;
  }

  .bottom-padded {
    padding-bottom: 50px;
  }
</style>

<div id="bottom_navbar" class="text-center">
  <button id="add_survey" type="button" class="btn btn-link btn-lg">
    <span class="glyphicon glyphicon-plus"></span>
    {{T "Start Survey"}}
  </button>
</div>


<div class="bottom-padded">
  <h4>{{T "Incomplete Surveys"}}</h4>
  <table class="table" id="incomplete_table">
  </table>
  
  <h4>{{T "Recent Completed Surveys"}}</h4>
  <table class="table" id="recent_table">
  </table>
</div>