
<div><strong><i>Water Source ID</i></strong>: {{#if source}}{{source}}{{else}}<i>None</i>{{/if}}</div>
<div><strong><i>pH Value</i></strong>: {{pHValue}}</div>

<!-- TODO photo display -->

<div>Notes: {{notes}}</div>
