
<div><strong><i>E.Coli</i></strong>: {{#if ecoli}}Present{{else}}Absent{{/if}}</div>
<div><strong><i>Total Coliform</i></strong>: {{#if tc}}Present{{else}}Absent{{/if}}</div>

<div>Dilution: {{dilution}}</div>
<div>Notes: {{notes}}</div>