<style>
.container-nopadding {
	padding-left: 0;
	padding-right: 0;
}

#navbar_slidemenu_button {
	background: url(img/menu.png) no-repeat 0; 
	width: 60px;
	background-position: 15px 9px;
	height: 50px;
}
</style>

<nav class="navbar navbar-inverse navbar-fixed-top" id="header" style="background-color: black;">
	<div class="container container-nopadding">
		<div class="navbar-header" style="width: 100%; margin-left: 0px; margin-right: 0px;">
			<span class="glyphicon glyphicon-chevron-left" id="navbar_back" 
				style="margin-top: 16px; margin-left: 1px; float: left; color: white; visibility: visible;">
			</span>
			<a class="navbar-brand" style="padding-top: 0; padding-bottom: 0; ">
				<img id="brand_logo" src="img/black_logo_40.png" style="padding-top: 5px; display: none;">
			</a>
	  		<a class="navbar-brand" style="margin-left: -15px">
				<span id="navbar_title" style="padding-left: 3px;"></span>
			</a>
			<div style="float: right;">
		  	  	<div id="navbar_slidemenu_button" class="menuitem">
		    		&nbsp;
		  		</div>
		  	</div>
	   		<div id="navbar_buttons">
			</div>
		</div>
	</div>
</nav>
<div class="container" style="padding-left: 0px; padding-right: 0px;">
	<div class="row" style="margin-left: 0px; margin-right: 0px;">
		<div id="appview_content" class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
		</div>
	</div>
</div>
