<style>
.container-nopadding {
	padding-left: 0;
	padding-right: 0;
}

#navbar_slidemenu_button {
	background: url(img/buttonbar-slideout.png) black no-repeat 0; 
	width: 50px;
	background-position: 7px 9px;
	height: 50px;
	cursor: pointer;
}

#navbar_back_button {
	background: url(img/buttonbar-back.png) black no-repeat 0; 
	width: 50px;
	background-position: 7px 9px;
	height: 50px;
	cursor: pointer;
}

#navbar_title {
	padding-left: 3px;
	position: absolute;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 90%;
	color: white;
}

#brand_logo {
	padding-top: 0;
	padding-bottom: 0; 
	padding-left: 0;
	margin-left: 0;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}
</style>

<nav class="navbar navbar-inverse navbar-fixed-top" id="header" style="background-color: black;">
	<div class="container container-nopadding">
		<div class="navbar-header" style="width: 100%; margin-left: 0px; margin-right: 0px;">
	  	  	<div id="navbar_slidemenu_button" class="menuitem" style="float: left;">
	    		&nbsp;
	  		</div>
	  	  	<div id="navbar_back_button" class="menuitem" style="display: none; float: left">
	    		&nbsp;
	  		</div>
			<a id="brand_logo" class="navbar-brand">
				<img src="img/black_logo_40.png" style="padding-top: 5px;">
			</a>
	  		<span class="navbar-brand" style="margin-left: -15px">
				<span id="navbar_title"></span>
			</span>
	   		<div id="navbar_buttons">
			</div>
		</div>
	</div>
</nav>
<div class="container" style="padding-left: 0px; padding-right: 0px;">
	<div class="row" style="margin-left: 0px; margin-right: 0px;">
		<div id="appview_content" class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
			<div id="appview_loading">
				<div class="alert alert-info">
					<span class="glyphicon glyphicon-cog"></span> {{T "Loading mWater App..."}}
				</div>
			</div>
		</div>
	</div>
</div>
