<div class="pull-right" style="padding-right: 20px">
  <img id="pointer" src="img/relative_bearing.png"/>
</div>

<div>
  <div id="location_relative"></div>
  <div id="gps_strength"></div>

  <div id="location_absolute" class="text-muted"></div>
  <button id="location_map" class="btn btn-default"><span class="glyphicon glyphicon-map-marker"></span> {{T "View on Map"}}</button>
</div>

<style>
#location_relative {
  font-weight: bold;
}

</style>