
<div><strong><i>Water Source ID</i></strong>: {{#if source}}{{source}}{{else}}<i>None</i>{{/if}}</div>
<div><strong><i>Arsenic</i></strong>: {{As_mgperL}} mg/L</div>

<!-- TODO photo display -->

<div>Notes: {{notes}}</div>