<div class="navbar navbar-inverse navbar-fixed-top" id="header">
	<div class="navbar-inner">
		<div class="container" style="width: auto;">
			<a class="brand"><i class="icon-chevron-left icon-white"
				style="margin-top: 4px; margin-left: 5px; margin-right: 3px;"></i>mWater</a>
			<a class="btn btn-navbar pull-right" style="display: block"
				id="navbar_slidemenu_button"><span class="icon-bar"></span><span
				class="icon-bar"></span><span class="icon-bar"></span></a>
			<div id="navbar_buttons">
			</div> 
		</div>
	</div>
</div>
<div id="content" style="margin-top: 40px"></div>