<div class="navbar navbar-inverse navbar-fixed-top" id="header">
	<div class="navbar-inner">
		<div class="container" style="width: auto; background-color: black"> {{! TODO hack because of logo }}
			<span class="glyphicon glyphicon-chevron-left" id="navbar_back" 
				style="margin-top: 13px; margin-left: 1px; float: left;"></span>
			<a class="navbar-brand" style="padding-top: 0; padding-bottom: 0; ">
  				<img id="brand_logo" src="img/black_logo_40.png">
				<span id="navbar_title" style="line-height: 40px"></span>
			</a>
			<ul class="nav pull-right">
			  <li>
			    <a id="navbar_slidemenu_button" class="menuitem" style="background: url(img/menu.png) no-repeat 0; width: 6px;">
					&nbsp;
			    </a>
			  </li>
			</ul>
			<div id="navbar_buttons">
			</div>
		</div>
	</div>
</div>
<div class="appview_content"></div>