<div class="navbar navbar-inverse navbar-fixed-top" id="header">
	<div class="navbar-inner">
		<div class="container" style="width: auto">
			<i class="icon-chevron-left icon-white" id="navbar_back" 
				style="margin-top: 13px; margin-left: 1px; float: left;"></i>
			<a class="brand">
				<span id="navbar_title"></span>
			</a>
			<ul class="nav pull-right">
			  <li>
			    <a id="navbar_slidemenu_button" class="menuitem" style="background: url(img/menu.png) no-repeat 0; width: 6px;">
					&nbsp;
			    </a>
			  </li>
			</ul>
			<div id="navbar_buttons">
			</div>
		</div>
	</div>
</div>
<div class="appview_content"></div>