<div class="navbar navbar-inverse navbar-fixed-top" id="header">
	<div class="navbar-inner">
		<div class="container" style="width: auto">
			<i class="icon-chevron-left icon-white" id="navbar_back" 
				style="margin-top: 13px; margin-left: 1px; float: left;"></i>
			<a class="brand">
				<span id="navbar_title">mWater</span></a>
			<a class="btn btn-navbar pull-right" style="display: block"
				id="navbar_slidemenu_button"><span class="icon-bar"></span><span
				class="icon-bar"></span><span class="icon-bar"></span></a>
			<div id="navbar_buttons">
			</div>
		</div>
	</div>
</div>
<div id="content" style="margin-top: 40px"></div>