<h3></h3>
<ul>
<li><a id="home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
<li><a id="login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
<li><a id="source_list"><span class="glyphicon glyphicon-th-list"></span> List of Sources</a></li>
<li><a id="source_map"><span class="glyphicon glyphicon-map-marker"></span> Map of Sources</a></li>
<li><a id="new_test"><span class="glyphicon glyphicon-tint"></span> Start New Water Test</a></li>
<li><a id="existing_test"><span class="glyphicon glyphicon-tint"></span> Recent Water Tests</a></li>
<li><a id="new_survey"><span class="glyphicon glyphicon-list-alt"></span> Start New Survey</a></li>
<li><a id="existing_survey"><span class="glyphicon glyphicon-check"></span> Recent Surveys</a></li>
<li><a id="settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
<li><a id="report_problem"><span class="glyphicon glyphicon-exclamation-sign"></span> Report a Problem</a></li>
<li><a id="logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
<li><a id="import_sources"><span class="glyphicon glyphicon-none"></span> Import Sources</a></li>
<li><a id="admin"><span class="glyphicon glyphicon-none"></span> Admin</a></li>
</ul>